@model Turnos.Models.Especialidad

<h4>Especialidad</h4>

<div>
    <form asp-action="Edit">@*se ejecuta la funcion Edit del controlador especialidad que obtiene el id del registro y guarda los cambios en la db*@
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="IdEspecialidad">
        <div>
            <label asp-for="descripción"></label>
            <input asp-for="descripción">
            <span asp-validation-for="descripción"></span>
        </div>
        <div>
            <input type="submit" value="Guardar">
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>