@model IEnumerable<Turnos.Models.Especialidad> //referenciamos el modelo de la tabla que haremos uso
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr><th>@Html.DisplayNameFor(model => model.descripción)</th></tr>@*DisplayNameFor obtiene el nombre de la columna*@
        </thead>
        <tbody>
            @*Recorremos el modelo referenciado en la primera linea de codigo para mostrar su info en está tabla*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripción)@*DisplayFor es para obtener el dato de la columna*@
                    </td>
                </tr>
            }            
        </tbody>
    </table>
</body>
</html>