@model IEnumerable<Turnos.Models.Especialidad> //referenciamos el modelo de la tabla que haremos uso
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.descripción)</th>
        </tr>@*DisplayNameFor obtiene el nombre de la columna*@
    </thead>
    <tbody>
        @*Recorremos el modelo referenciado en la primera linea de codigo para mostrar su info en está tabla*@
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripción)@*DisplayFor es para obtener el dato de la columna*@
            </td>
        </tr>
        }
    </tbody>
</table>