@model Turnos.Models.Paciente

<h4>Crear un nuevo paciente</h4>

<div>
    <form asp-action="Edit">@*Formulario para creación de nuevo paciente*@
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input hidden asp-for="idPaciente">
            <br>
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre">
            <span asp-validation-for="Nombre"></span>
            <br>
            <label asp-for="Apellido"></label>
            <input asp-for="Apellido">
            <span asp-validation-for="Apellido"></span>
            <br>
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
            <br>
            <label asp-for="Telefono"></label>
            <input asp-for="Telefono">
            <span asp-validation-for="Telefono"></span>
            <br>
            <label asp-for="Direccion"></label>
            <input asp-for="Direccion">
            <span asp-validation-for="Direccion"></span>
        </div>
        <div>
            <input type="submit" value="Guardar">
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>